.rotate {
    animation: rotate 4s infinite linear reverse;
    width:80px;
    height:80px;
    display:block;
    margin:0 auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}