.wrapper {
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.contentWrapper{
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}